:host{
    .my-navbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 2%;
        a{
            font-size: 18px;
            text-decoration: none;
            border-bottom: 0px solid white;
            transition: all .1s;
            &:hover{
                border-bottom: 5px solid white;
                transition: all .1s;
            }   
            &.router-link-active{
                color: crimson;
            }
        }
    }
}

