<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="">
            <div class="navbar-head">
                <a 
                    class="navbar-brand"
                    [routerLink]="['/home']" 
                    routerLinkActive="router-link-active" 
                >
                    Home
                </a>
            </div>
            <div class="nav navbar-nav my-navbar col-xs-10">
                <a 
                    [routerLink]="['/recipeBook']" 
                    routerLinkActive="router-link-active" 
                >
                    Recipe Book
                </a>
            
                <a 
                    [routerLink]="['/shoppingList']" 
                    routerLinkActive="router-link-active" 
                > 
                    Shopping List
                </a>
            </div>
        </div>
    </div>
 </nav>